<div class="spinner-border" role="status" *ngIf="!pais else divPais">
    <span class="sr-only"></span>
</div>

<ng-template #divPais>

    <div class="row">
        <div class="col-12">
            <section class="dark">
            <div class="container py-4">
                <h1 class="h1 text-center text-white" id="pageHeaderTitle"> Pais </h1>
                <article class="postcard dark yellow">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img" [src]="pais.flags.svg" alt="Image Title" />
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title yellow"><a href="#"> {{ pais.name.official }} </a></h1>
                        <div class="postcard__subtitle small">
                            <time datetime="2020-05-25 12:00:00">
                                <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                            </time>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt"> {{ pais.name.official | uppercase }} has border with {{
                            pais.borders[0] }}, {{ pais.borders[1] }}, {{ pais.borders[3]}}
                            the capital of {{ pais.name.official }} has {{ pais.capital }}
                        </div>
                        <ul class="postcard__tagbox">
                            <li class="tag__item"><i class="fas fa-tag mr-2"></i> {{pais.region }} </li>
                            <li class="tag__item"><i class="fas fa-clock mr-2"></i> {{ pais.translations['ara'].official
                                }} </li>
                            <li class="tag__item"><i class="fas fa-clock mr-2"></i> {{ pais.translations['fra'].official
                                }} </li>
                            <li class="tag__item"><i class="fas fa-clock mr-2"></i> {{ pais.translations['rus'].official
                                }} </li>
                            <li class="tag__item"><i class="fas fa-clock mr-2"></i> {{ pais.translations['zho'].official
                                }} </li>
                        </ul>
                    </div>
                </article>
            </div>
            </section>
        </div>
    </div>

    < </ng-template>